<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Register</title>
  <style>
    h2 {
      font-weight: 500;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/urls">TinyApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
          <a class="nav-item nav-link" href="/register">Register</a>
          <a class="nav-item nav-link" href="/login">Login</a>
        </div>
      </div>
    
  </header>
  <h2 style="margin-left: 10px; text-align: left; margin-top: 20px; ">Create Account</h2>
  <div class="form-group mb-2">
    <form action="/register" method= "POST" style="margin: 0.5em">
    <fieldset>
      <label for="Email">Email</label>
      <input type ="text" name="email" class="form-control" style="width: 300px"  placeholder="Enter Email" required/> <br/>
      <label for="password"> Password </label>
      <input type ="password" name="password" class="form-control" style="width: 300px" placeholder="Password" required/>  <br/>
      <input type="submit" value="Create Account Now" class="btn btn-primary" />
    </fieldset>
    </form>
    <br>
    <a style="margin: 1em" href="/login">Already have a TinyApp account? Sign in!</a>
  </div>

</body>
</html>